<html>
  <head>
    {% if title %}
    <title>{{ title }} - Derivative Calculator</title>
    {% else %}
    <title>Welcome to my Derivative Calculator</title>
    {% endif %}
  </head>
  <body>
    <div>
    	Derivative Calculator: 
    	<a href="/index">Home</a> 
    	<a href="/profile">Profile</a>
    	<a href="/login">Logout</a>
    </div>
    
    <hr>
    {% with messages = get_flashed_messages() %}
    	{% if messages %}
    	<ul>
    	{% for message in messages %}
    		<li>{{ message }}</li>
    	{% endfor %}
    	</ul>
    	{% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>