{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
function func2() 
{
	document.getElementById("der").innerHTML = "hello";
			// {{ derivative }}
	alert("Submit button .... !");
	document.getElementById("deriver").submit();
	return true;
}
//<!--	document.getElementById('deriver').submit(); -->

</script>

	<h1>Hello, {{ user.nickname }}, lets derive!</h1>

	<form id="deriver" method="post" action="" > <!-- name="deriver"  action="" onsubmit="return func2()" -->
	{{ form.hidden_tag() }}
		<p> Enter an expression to be derived <p id="exp"> {{ form.expression }} </p> </p>		
		<input type="submit" onclick="func2()" method="post" value="Derive"> <!--onclick="func2();"-->
	</form>

	<!-- 
		<p> The derivative is: {{ derivative }}	</p> 
	<p>		<p id="der"> 
	{% for der in derivative %}
		{{ derivative }} 
	{% endfor %}
	</p>
 </p> <br> -->
	
	
{% endblock %}

<!--
<p> Your old calculations are listed below:
table:
"Expression" | "Derivative"	
  xxx		| 		x
</p>
-->

<!-- derive(form.expression.data) -->
<!-- need to get derivative after derived ... then input in form --!>
 	<!--<a href="javascript:disp_der('{{ der.derivative }}');">{{ der.derivatives }}</a>-->	
