{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
function func2() 
{
	document.getElementById("der").innerHTML = {{ derivative }};
	alert("Submit button clicked!");
	return false;
}
//<!--	document.getElementById('deriver').submit(); -->

</script>

	<h1>Hello, {{ user.nickname }}, lets derive!</h1>

	<form id="deriver" onsubmit="func2();" action="" method="post" > <!-- name="deriver" -->
	{{ form.hidden_tag() }}
		<p> Enter an expression to be derived <p id="exp">{{ form.expression }}</p> </p>		
		<input type="submit" method="post" value="Derive"> <!--onclick="func2();"-->
	</form>
	<p> The derivative is: <p id="der"> hi </p>	</p>
	<p>	{{ form.derivative }}</p>
	<div>
	{% for der in derivative %}
	{{ der.derivative }}
	{% endfor %}
	</div>
	
{% endblock %}

<!--
<p> Your old calculations are listed below:
table:
"Expression" | "Derivative"	
  xxx		| 		x
</p>
-->

<!-- derive(form.expression.data) -->
<!-- need to get derivative after derived ... then input in form --!>
 	<!--<a href="javascript:disp_der('{{ der.derivative }}');">{{ der.derivatives }}</a>-->	
