{% extends "base.html" %}
{% block content %}
	
	{% if g.user.is_authenticated %}
	<h1>Hello, {{ user.nickname }}, welcome to my Derivative Calculator!</h1>
	<div> <h2><a href="{{ url_for('deriver', id=g.user.id) }}">Lets Derive! </a></h2></div>	
	{% else %}
	<h1>Hello, friend, welcome to my Derivative Calculator!</h1>
	<h2> Are you a new user: <br> If yes, click "sign up," if no, login!" </h2> <br>
  	<div>Login: <a href="/login">Login</a></div><br>
  	<div>Signup: <a href="/signup">Signup</a></div>  
	{% endif %}
{% endblock %}

<!-- <script type="text/javascript">
function logOrNah(id)
{
	replace both divs with
	<p id='text'> Thank you for creating an account </p>
	... text/value of <p>
	or
	onHTML... remove,
	replace
}
<a href="javascript:logOrNah('that data');">{{ der.derivative }}</a>	
</script>