{% extends "base.html" %}
{% block content %}
	<h1>Hello, {{ user.nickname }}, welcome to my Derivative Calculator!</h1>
	<h2> Are you a new user: <br>
	If yes, click "sign up," if no, login below!" </h2>
	
	
  	<div>Login: <a href="/login">Login</a></div>

  	<div>Signup: <a href="/signup">Signup</a></div>  

{% endblock %}

<!-- <script type="text/javascript">
function logOrNah(id)
{
	replace both divs with
	<p id='text'> Thank you for creating an account </p>
	... text/value of <p>
	or
	onHTML... remove,
	replace
}
<a href="javascript:logOrNah('that data');">{{ der.derivative }}</a>	
</script>